<div class=" page-header">
    <%= button_to t("meeting.new_meeting"), new_meeting_path, :method => :get, :class => "btn btn-success pull-right"%>
    <h1><%= t("meeting.meeting")%></h1>
</div>

<div class="row">
    <% @meetings.each do |meeting| %>
    <div class="meeting_div col-sm-6 col-md-6  top-buffer">
        <div class="thumbnail">
            <%= user_avatar_tag(meeting.user, :normal) %>
            <div class="metting_info">
                <div class="tag_div pull-right">
                    <a href="<%= meeting_path(meeting) %>"><span class="created_date"><%= meeting.created_at.strftime("%m/%d/%Y")%></span></a>
                    <br />
                    <% meeting.tag.each do |t| %>
                    <%= link_to "#{t}", find_meetings_by_tag_meetings_path(:tag => t)%>
                    <% end %>
                </div>
                <a href="<%= meeting_path(meeting) %>" class="meeting_title"><%= meeting.title%></a>
                <span><%= meeting.user.name %></span>
            </div>
        </div>
    </div>
    <% end %>
</div>