<div class=" page-header">
    <%= button_to t("meeting.new_meeting"), new_meeting_path, :method => :get, :class => "btn btn-success pull-right"%>
    <h1><%= t("meeting.meeting")%></h1>
</div>

<% @meetings.each do |meeting| %>
<div class="well">
    <div class="meeting_header">
        <div class="tag_div pull-right">
            <span class="created_date"><%= meeting.created_at.strftime("%m/%d/%Y")%></span>
            <br />
            <% meeting.tag.each do |t| %>
            <%= link_to "#{t}", find_meetings_by_tag_meetings_path(:tag => t)%>
            <% end %>
        </div>
        <%= user_avatar_tag(meeting.user, :normal) %>
        <%= meeting.user.name %>
    </div>
    <div>
        <%= markdown meeting.body %>
    </div>
    <div class="meeting_footer">
        <% if meeting.user == current_user %>
        <%= button_to 'Edit', edit_meeting_path(meeting), :method => :get, :class => "btn btn-primary btn-xs pull-right" %>
        <% end %>
    </div>
</div>
<% end %>
